body
{
    background-color: #FFFFFF;
}

h1
{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#Content
{
    margin: auto;
    width: 1000px;
}

#ToDoList
{
    width: 450px;
    height: 800px;
    background-color: #F8F66A;
    padding-left: 25px;
    padding-top: 20px;
    float: left;
    border: 1px solid #000000;
}

#ToDoListDone
{
    width: 450px;
    height: 800px;
    background-color: #F8F66A;
    padding-left: 25px;
    padding-top: 20px;
    float: right;
    border: 1px solid #000000;
}

#ListSeparator
{
    width: 100px;
    height: 800px;
}

.ListItemContainer
{    
    width: 450px;
    height: 30px;
}

.ListItemToDo
{    
    width: 350px;
    height: 30px;
}

.ListItemDone
{   
    width: 400px;
    height: 30px;
}

.ListItemToDoText
{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.ListItemDoneText
{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.ButtonDelete
{
    background: url(xmark.png) no-repeat;
    border: 0px;
    width: 32px;
    height: 32px;
    float: right;
}

.ButtonDelete:focus
{
    border: 0px;
    outline: 0;
}

.ButtonMarkAsDone
{
    background: url(checkmark.png) no-repeat;
    border: 0px;
    width: 32px;
    height: 32px;
    float: right;
}

.ButtonMarkAsDone:focus
{
    border: 0px;
    outline: 0;
}

