body
{
    background-color: #FFFFFF;
}

h1
{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/*
ul 
{
}
*/

li 
{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    height: 35px;
}

input 
{
    background-color: #F8F66A;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    
}

input[type="text"] 
{
    border: 0;
    width: 80%;
    margin-left: 25px;
}

#Content
{
    display: flex; 
    justify-content: space-around
}

#ToDoList
{
    width: 450px;
    height: 800px;
    background-color: #F8F66A;
    padding-left: 25px;
    padding-top: 20px;
    float: left;
    border: 1px solid #000000;
    
    display: flex; 
    align-self: flex-start;
    flex-direction: column;
}

#ToDoListItems
{
    width: 450px;
    height: 800px;
    align-self: flex-start;
    flex-direction: column;
}

#ToDoListDone
{
    width: 450px;
    height: 800px;
    background-color: #F8F66A;
    padding-left: 25px;
    padding-top: 20px;
    float: right;
    border: 1px solid #000000;justify-content: flex-start;
}

#AddTextInput
{
    display: flex; 
    align-self: flex-around;
}

.ButtonDelete
{
    background: url(xmark.png) no-repeat;
    border: 0;
    width: 32px;
    height: 32px;
    right: 0;
    float: right;
    padding-right: 25px;
}


.ButtonDone
{
    background: url(checkmark.png) no-repeat;
    border: 0;
    width: 32px;
    height: 32px;
    float: right;
}


